
.mainAnimated{
    width: 66px;
}

  .container {
  display: grid; /* grid containers */
  grid-template-columns: repeat(5, 1fr); /* four columns */
  grid-template-rows: repeat(3, 1fr); /* four rows */
  grid-auto-flow: column; /* in column direction */

}

.column {
  display: contents; /* the child elements would be grid items */

}

.cell {
  padding: 1px;
  justify-self: center;
  color: white;
}

